{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "strict": 0,
    "default-case": true,
    "eqeqeq": true,
    "indent": [2, 2],
    "new-cap": 0,
    "no-unused-vars": [1, { vars: "all", args: "after-used"}],
    "no-multiple-empty-lines": true
  }
}
